/* || Imports */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
/* CSS-FILES */
@import "flex.css";
@import "position.css";
@import "grids.css";

/* || General Styles */
* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
  }

  :root {
    --primary-color: #047857;
    --overall-color: #D1FAE5;
    --dark-color: #111827;
  }

  body {
    font-family: "Raleway", sans-serif;
    background-color: var(--overall-color);
    font-size: 14px;
  }

  h1, h2,h3,h4,h5,h6{
      color: var(--primary-color);
      font-size: 1rem;
  }
  ul{
      list-style: none;
  }

  /* Grid Layout */
  .main{
     min-height: 100%;
     width: auto;
     height: auto;
     display: grid;
     grid-template-columns: auto 1fr;
     grid-gap: 5px;
     margin: 5px;
     padding: 5px;
  }

  .sidebar , .content{
     display: flex;
     flex-direction: column;
     padding: 5px;
     margin: 5px;
     gap: 5px;
  }
  
  .content {
      border: 0px;
      text-align: left;
     
  }
  .content-ul{
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: sticky;
      top: 10px;
  }


  /* DESKTOP VIEW */
  @media only screen and (min-width: 768px) {
    body {
        font-size: 1.2rem;
      }
   .main{
    grid-gap: 1rem;
    margin: 1rem;
    padding: 1rem;
   }
   .sidebar, .content{
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
   }
   .content{
    text-align: center;
   }
   .content-ul{
    gap: 1rem;
    top: 20px;
   }
}
